div(ng-class='{"level1": level == 1, "level2": level == 2}',
ng-style='{"width": (cellSize * boardSize.width) + "px", "height": (cellSize * boardSize.height) + "px"}')
  div(class='hero',
  ng-style='{"left": (heroX * cellSize) + "px", "top":(heroY * cellSize) + "px", width: (cellSize * 25/40) + "px", height: cellSize + "px", "background-size": ((cellSize * 25/8) + "px") + " " + ((cellSize * 4) + "px"), "background-position": (cellSize * currentCycle * (25 / 40)) + "px " + (cellSize * cycleDirection) + "px" }')
  div(ng-repeat="line in gameBoard track by $index" class='gameRow')
    div(ng-repeat="place in line track by $index", class='gameCell',
      ng-style='{width: cellSize + "px", height: cellSize + "px"}')
