div(ng-class='{"level1": level == 1}',
ng-style='{"width": (cellSize * boardSize.width) + "px", "height": (cellSize * boardSize.height) + "px"}')
  div(ng-repeat="line in gameBoard track by $index" class='gameRow')
    div(ng-repeat="place in line track by $index", class='gameCell',
      ng-class='{heroCell: $parent.$index == heroY && $index == heroX}',
      ng-style='{width: cellSize + "px", height: cellSize + "px"}')
