extends layout

block content
  body(ng-controller="KeyMapping", ng-keydown="buttonPress($event)", tabindex='0')
    h1= title
    p Welcome to #{title}
    div(class='row', style='height:100%')
      div(class='col-md-2')
        | {{key}} and {{press}}
        code pressEvent
        pre {{pressEvent | json}}
      div(class='col-md-10' style='height:75vh')
        map-board
