extends layout

block content
  body(ng-controller="KeyMapping", ng-keydown="buttonPress($event)", tabindex='0')
    p Welcome to #{title}
    button(type="button" class="btn btn-primary", ng-click='changeLevel(1)') Level 1
    button(type="button" class="btn btn-success", ng-click='changeLevel(2)') Level 2
    div(class='row', style='height:100%')
      div(class='col-md-10', style='height:80vh')
        map-board(ng-if='level == 1')
        map-board(ng-if='level == 2')
      div(class='col-md-2')
        pre Log : {{yoshiLog? yoshiLog : 'zzz...'}}
        pre Can swim: {{hasGlasses}}
        pre Carrots {{yoshiCarrots}} / {{totalCarrots}}
        pre Has key: {{hasMagicKey}}
      div(class='col-md-12', ng-if='debugMode')
        | {{key}} and {{press}}
        code pressEvent
        pre {{ {x: heroX, y:heroY} | json}}
        pre [
          div(ng-repeat='line in gameBoard') {{line}},
          | ]
