doctype html
html(ng-app='mapApp')
  head
    title= title
    link(rel='styleSheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/gameBoard.css')
    script(src='javascripts/angular.js')
    script(src='javascripts/app.js')
    block content
