doctype html
html(ng-app='mapApp')
  head
    title= "Bijoux Yoshi"
    link(rel='styleSheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/gameBoard.css')
    script(src='javascripts/angular.js')
    script(src='javascripts/app.js')
    script(src='javascripts/mapLevel.js')
    script(src='javascripts/mapBoard.js')

  block content
